.chart-dashboard {
  mat-toolbar {
    background: #d3d3d3;
    font-size: 16pt;
    font-display: bold;
    padding: 5px;
  }
  .company-select {
    width: 70% !important;
  }
  ::ng-deep .mat-form-field-appearance-outline {
    display: inline-block !important;
    font-size: 14px;
    padding: 10px;
    color: #020202 !important;
    font-style: bold !important;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.1em;
  }

  :host /deep/ .mat-select-value-text {
    color: #f16230 !important;
    font-style: bold !important;
  }
}
